body {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
    background-color: #121212;
    color: #fff;
}

.header {
    text-align: center;
    padding: 30px;
    background: linear-gradient(135deg, #080808, #222225);
    box-shadow: 0 2px 10px rgba(0, 255, 255, 0.5); /* Cyan shadow added */
}

.header h1 {
    margin: 5;
    font-size: 36px;
    font-weight: 700;
}

.offer-form-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    background-color: #1c1c1c;
    box-shadow: 0 6px 30px rgba(0, 255, 255, 0.4); /* Cyan shadow added */
}

.offer-form-container h2 {
    font-size: 28px;
    font-weight: 700;
    color: #f0f0f0;
    text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.6); /* Cyan text shadow */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #b3ffff; /* Light cyan for labels */
    display: block;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 13px;
    border-radius: 10px;
    background-color: #222225;
    border: 1px solid #007b7b; /* Cyan border */
    color: #fff;
    font: 400 16px 'SF Pro Display', sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #00ffff; /* Cyan focus border */
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7); /* Cyan glow on focus */
    outline: none;
}

textarea {
    resize: vertical;
    height: 130px;
}

.button-container {
    text-align: left;
}

.submit-button {
    background-color: #007b7b; /* Cyan background color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-button:hover {
    background-color: #00bcd4; /* Brighter cyan on hover */
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.5); /* Glow effect on hover */
}
