/* Global styles */
body {
    background-color: #121212; /* Dark background */
    color: #e0f7fa; /* Light cyan text */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 80%;
    max-width: 500px;
    background-color: #1e1e1e; /* Slightly darker container background */
    border-radius: 10px;
    padding: 20px;
    height: 80%; /* Adjusted height for a better chat view */
    box-shadow: 0 8px 10px rgba(0, 172, 193, 0.4); /* Cyan shadow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #00acc1; /* Cyan title */
    padding-left: 5px;
    text-shadow: 0 2px 5px rgba(0, 172, 193, 0.6); /* Cyan text glow */
}

/* Chat Box */
#chat-box {
    flex-grow: 1;
    overflow-y: auto; /* Scrollable chat area */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #2a2a2a; /* Slightly lighter background */
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 172, 193, 0.3);
}

.message {
    margin-bottom: 15px;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.sender {
    background-color: #00acc1; /* Cyan for sender's messages */
    color: #121212; /* Dark text for contrast */
    align-self: flex-end; /* Right-align sender's messages */
}

.receiver {
    background-color: #333333; /* Darker for receiver's messages */
    color: #e0f7fa; /* Light text for contrast */
    align-self: flex-start; /* Left-align receiver's messages */
}

.timestamp {
    font-size: 0.8rem;
    color: #b3e5fc;
    display: block;
    margin-top: 5px;
    text-align: right;
}

/* Box for input fields */
.input-box {
    display: flex;
    margin-bottom: 15px;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 172, 193, 0.2);
}

input[type="text"] {
    width: 90%; /* Occupy most of the space */
    padding: 10px;
    margin: 0;
    background-color: transparent;
    color: #e0f7fa;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
}

button {
    width: 10%; /* Smaller button */
    padding: 15px;
    background-color: #00acc1;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;

    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 172, 193, 0.4);
}

button:hover {
    background-color: #00838f;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 172, 193, 0.6);
}

/* Responsive layout */
@media screen and (min-width: 768px) {
    .container {
        width: 70%;
    }

    h2 {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 50%;
    }
}
