* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-image {
    width: 40%;
    height: auto;
    margin-bottom: 60px;
    object-fit: cover;
    border-radius: 3px; /* Ensure it's a square image */
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    margin-bottom: 30px;
}

.next-button {
    background-color: #ffffff;
    color: #000000;
    font-size: 22px;
    padding: 14px 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 350px;
    margin-top: 30px;
}

.next-button:hover {
    background-color: #e0e0e0;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .center-image {
        width: 80%;
    }

    h1 {
        font-size: 36px;
    }

    .description {
        font-size: 18px;
        margin-bottom: 9px;
    }

    .next-button {
        font-size: 20px;
        margin-bottom: -9px;
    
    }
}

@media (max-width: 480px) {
    .center-image {
        width: 80%;
    }

    h1 {
        font-size: 32px;
    }

    .description {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .next-button {
        font-size: 22px;
        margin-bottom: -9px;
    }
}
